// media queries
$mobile: 750px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$desktop: 1440px;
$desktopMax: 1700px;
//$tablet: 1536px;
$tablet: 1024px;
$contentMaxWidth: 980px;
// colors
$white: #fff;
$black: #0b0708;
$turquoise: #037693;

// fonts
$lato: 'Lato', sans-serif;
$baseFontSize: 16px;

// paths
$imgPath: "../img";