.company__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.6vw;
  text-align: center;
}

.company__title {
  left: 2.4vw;
  margin-bottom: 18.7vw;

  &:before {
    left: 17.1vw;
  }

  &:after {
    left: 19.8vw;
  }
}

.company__statistic {
  position: relative;
  left: 0.3vw;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 78.63vw;
  margin: 0 auto 11vw;
  color: $black;
  list-style-type: none;
}

.company__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 33.333%;
  color: $lightGreen;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    width: vw($mobile, 48px);
    height: vw($mobile, 48px);
    color: $lightGreen;
    background-color: $lightGreen;
    transform: translate(-50%, -9.5vw) scale(1);
    border-radius: 50%;
    box-sizing: border-box;
    border: 0.2vw solid $white;
    box-shadow: 0 0 0 1.5vw;
  }

  &:after {
    content: '';
    position: relative;
    bottom: -4.4vw;
    width: 22.767vw;
    height: vw($mobile, 4px);
    margin: 0 auto;
    background-color: $lightGreen;
  }
}

.company__counter {
  margin-bottom: 2vw;
  font-size: vw($mobile, 51px);
}

.company__desc {
  font-size: vw($mobile, 24px);
  font-weight: 300;
  letter-spacing: 0.069vw;
  color: $grey;
}

.company__item[data-item='hours'] {
  color: $lightRed;

  &:before {
    background-color: $lightRed;
    color: $lightRed;
  }

  &:after {
    background-color: $lightRed;
  }
}

.company__item[data-item='event'] {
  color: $orange;

  &:before {
    background-color: $orange;
    color: $orange;
  }

  &:after {
    background-color: $orange;
  }
}

.company__heading {
  margin-bottom: 1.3vw;
  font-size: vw($mobile, 45px);
  color: $turquoise;
}

.company__subheading {
  margin-bottom: 6.7vw;
  font-size: vw($mobile, 23px);
  letter-spacing: 0.2vw;
  color: $turquoise;

  &:after {
    content: '';
    position: relative;
    bottom: -2vw;
    display: block;
    width: 18.667vw;
    height: vw($mobile, 1px);
    margin: 0 auto;
    background-color: $lightGreen;
  }
}

.company__description {
  margin: 0 13.5vw 18vw;
  font-size: vw($mobile, 17px);
  line-height: 1.2;
  color: $darkGrey;
}

// Tablet
@media screen and (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {

  .company__wrapper {
    padding-top: 7.5vw;
  }

  .company__title {
    left: 0.5vw;
    margin-bottom: 24.4vw;
    font-size: 3.267vw;
    letter-spacing: 0.2vw;

    &:before {
      bottom: -0.35vw;
      left: 8.6vw;
      width: 0.533vw;
      height: 0.233vw;
    }

    &:after {
      bottom: -0.35vw;
      left: 9.9vw;
      width: 3.533vw;
      height: 0.233vw;
    }
  }

  .company__statistic {
    width: 86.03vw;
    margin-bottom: 12.3vw;
  }

  .company__item {

    &:after {
      bottom: -4.9vw;
    }
  }

  .company__counter {
    margin-bottom: 2.6vw;
  }

  .company__heading {
    margin-bottom: 1.5vw;
  }

  .company__subheading {
    margin-bottom: 7.3vw;
    font-size: 3.267vw;

    &:after {
      bottom: -2.2vw;
      width: 19.967vw;
    }
  }

  .company__description {
    margin: 0 10.4vw 16.5vw;
  }
}

// Desktop
@media screen and (min-width: $tabletLandscape + 1px) {

  .company__wrapper {
    width: $contentMaxWidth;
    margin: 0 auto;
    padding-top: 38px;
  }

  .company__inner {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 84px;
  }

  .company__title {
    margin-bottom: 30px;
    font-size: 42px;

    &:before {
      left: 125px;
    }

    &:after {
      right: 6px;
      left: auto;
    }
  }

  .company__about {
    padding-top: 18px;
    padding-left: 10.6%;
    text-align: left;
  }

  .company__heading {
    margin-bottom: 0;
    font-size: 42px;
  }

  .company__subheading {
    margin-bottom: 18px;
    font-size: 21px;
    letter-spacing: 0.08em;

    &:after {
      right: -81px;
      bottom: 4px;
      width: 129px;
      height: 2px;
    }
  }

  .company__description {
    margin: 0;
    font-size: 14px;
  }

  .company__metrics {
    flex: 0 0 40%;
    padding-top: 90px;
  }

  .company__counter {
    margin-bottom: 2px;
    font-size: 36px;
    line-height: 1.7;
  }

  .company__statistic {
    width: 100%;
    margin-bottom: 0;
  }

  .company__desc {
    font-size: 15px;
  }

  .company__item {
    flex: auto;
    width: 33%;

    &:before {
      width: 32px;
      height: 32px;
      border: 3px solid $white;
      box-shadow: 0 0 0 10px;
      transform: translate(-50%, -126%);
    }

    &:after {
      bottom: -23px;
      width: 89%;
      height: 3px;
    }
  }
}
