.partners {
  position: relative;
  background: url("#{$imgPath}/partners_bg.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 0.3vw;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #323131;
    opacity: 0.8;
  }
}

.partners__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.9vw;
}

.partners__title {
  z-index: 2;
  color: $white;
  left: 1.7vw;
  margin-bottom: 12.5vw;
  &:before, &:after {
    background-color: $white;
  }
  &:before {
    left: 16.8vw;
  }
  &:after {
    left: 19.3vw;
  }
}

.partners__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
  margin-bottom: 4.3vw;
}

.partners__item {
  text-align: center;
  flex: 0 0 33.333%;
  min-height: 11.3vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners__pic {
  position: relative;
  max-width: 90%;
  max-height: 100%;
}

// Tablet
@media screen and (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
  .partners__wrapper {
    padding-top: 6.4vw;
  }

  .partners__title {
    font-size: 4.6vw;
    left: 1.3vw;

    &:before {
      left: 12vw;
      bottom: -0.7vw;
    }
    &:after {
      left: 14vw;
      bottom: -0.7vw;
      width: 5.533vw;
    }
  }

  .partners__list {
    margin-bottom: 5.3vw;
  }
}

// Desktop
@media screen and (min-width: $tabletLandscape + 1px) {
  .partners__wrapper {
    padding-top: 7px;
    width: 1020px;
    margin: 0 auto;
  }

  .partners__title {
    font-size: 40px;
    left: 0;
    margin-bottom: 20px;

    &:before {
      left: 111px;
    }

    &:after {
      left: auto;
      right: 0;
    }

  }

  .partners__list {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .partners__item {
    flex: 0 0 14%;
  }

  .company__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}