.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11vw;
  padding-top: 4vw;
  text-align: center;
}

.features__title {
  left: 1.3vw;
  margin-bottom: 5vw;
  letter-spacing: 1.7px;

  &:before,
  &:after {
    bottom: -0.8vw;
  }

  &:before {
    left: 8.4vw;
  }

  &:after {
    left: 0;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  width: 77.7vw;
}

.features__item {
  position: relative;
  display: block;
  flex: 0 0 50%;
  padding-top: 1.5vw;

  &:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 11.6vw;
    background-color: $turquoise;
    transform: translateY(-50%);
  }

  &:nth-child(-n+4):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30vw;
    height: 1px;
    background-color: $turquoise;
    transform: translateX(-50%);
  }
}

.features__icon {
  width: vw($mobile, 60px);
  height: vw($mobile, 60px);
  margin: 0 auto 1.8vw;
  background-size: 13.9vw;

  &[data-icon='question'] {
    background-position: -2.867vw -102.833vw;
  }

  &[data-icon='poll'] {
    background-position: -3.767vw -115.933vw;
  }

  &[data-icon='vote'] {
    background-position: -3.167vw -141.533vw;
  }

  &[data-icon='survey'] {
    background-position: -4.167vw -153.733vw;
  }

  &[data-icon='statistics'] {
    background-position: -4.167vw -127.133vw;
  }

  &[data-icon='privacy'] {
    background-position: -4.067vw -164.633vw;
  }
}

.features__text {
  margin-bottom: 2.8vw;
  font-size: vw($mobile, 22px);
  font-weight: 700;
  color: $turquoise;
}

// Tablet
@media screen and (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {

  .features__wrapper {
    margin-bottom: 17.5vw;
    padding-top: 8.8vw;
  }

  .features__title {
    position: relative;
    left: 0.7vw;
    font-size: 3.567vw;
    letter-spacing: 0.5vw;

    &:before {
      bottom: -0.6vw;
      left: 5.4vw;
    }

    &:after {
      bottom: -0.6vw;
      left: 0.2vw;
      width: 4.433vw;
    }
  }

  .features__item {

    &:nth-child(odd):before {
      right: -2px;
      width: 3px;
      height: 17vw;
      background-color: transparent;
      border: 1px solid $turquoise;
    }

    &:nth-child(-n+4):after {
      bottom: -2px;
      width: 35.4vw;
      height: 3px;
      background-color: transparent;
      border: 1px solid $turquoise;
    }
  }

  .features__icon {
    width: 11.2vw;
    height: 11.2vw;
    margin-bottom: 0;
    background-size: 20vw;

    &[data-icon='question'] {
      background-position: -4.367vw -150.433vw;
    }

    &[data-icon='poll'] {
      background-position: -3.467vw -169.133vw;
    }

    &[data-icon='vote'] {
      background-position: -5.067vw -202.333vw;
    }

    &[data-icon='survey'] {
      background-position: -3.767vw -220.133vw;
    }

    &[data-icon='statistics'] {
      background-position: -4.467vw -182.533vw;
    }

    &[data-icon='privacy'] {
      background-position: -3.967vw -237.633vw;
    }
  }

  .features__text {
    font-size: 4.033vw;
  }
}

// Desktop
@media screen and (min-width: $tabletLandscape + 1px) {

  .features__wrapper {
    width: 750px;
    margin: 0 auto;
    padding-top: 51px;
  }

  .features__title {
    margin-bottom: 30px;
    font-size: 45px;

    &:before,
    &:after {
      bottom: -2px;
    }

    &:before {
      left: 65px;
    }
  }

  .features__list {
    width: 100%;
    margin-bottom: 14px;
  }

  .features__item {
    flex: 0 0 33.333%;
    padding: 5px;

    &:nth-child(odd):before {
      content: '';
      top: auto;
      background-color: transparent;
    }

    &:nth-child(-n+3):before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 70%;
      height: 1px;
      background-color: $turquoise;
      transform: translateX(-50%);
    }

    &:nth-child(-n+4):after {
      right: 0;
      left: auto;
      background-color: transparent;
    }

    &:nth-child(-n+2):after,
    &:nth-child(4):after,
    &:nth-child(5):after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 70%;
      background-color: $turquoise;
      transform: translateY(-50%);
    }
  }

  .features__icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 12px;
    background-color: $white;
    background-size: 104px;
    border-radius: 50%;

    &[data-icon='question'] {
      background-position: -25px -781px;
    }

    &[data-icon='poll'] {
      background-position: -23px -869px;
    }

    &[data-icon='vote'] {
      background-position: -24px -1060px;
    }

    &[data-icon='survey'] {
      background-position: -21px -1154px;
    }

    &[data-icon='statistics'] {
      background-position: -22px -958px;
    }

    &[data-icon='privacy'] {
      background-position: -24px -1244px;
    }
  }

  .features__text {
    margin-bottom: 19px;
    font-size: 20px;
  }

  .features__link {
    display: block;
    height: 100%;
    padding-top: 20px;
  }

  .features__link:hover {
    background-color: $turquoise;
    transition: background-color 0.2s;

    & .features__text {
      color: $white;
    }
  }
}
