.tutorial {
  text-align: center;
  color: $white;
  background-color: $turquoise;
}

.tutorial__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.033vw;
}

.tutorial__descr {
  width: 11.5vw;
  margin: 0 auto;
  font-size: vw($mobile, 10px);
  font-weight: 400;
  color: $black;
}

.tutorial__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57.8vw;
  margin-bottom: vw($mobile, 25px);
  list-style-type: none;
}

.tutorial__item {
  position: relative;
  z-index: 0;
  flex-basis: vw($mobile, 120px);
  height: vw($mobile, 120px);
  padding-top: 4vw;

  &:before {
    content: '';
    position: absolute;
    top: 4.4vw;
    left: 2.9vw;
    z-index: -1;
    display: block;
    width: 10.1vw;
    height: 10.1vw;
    background-color: $yellow;
    transform: rotate(45deg);
    box-sizing: content-box;
    border-radius: 0.2vw;
    box-shadow: 0 0 0 0.4vw $turquoise, 0 0 0 0.8vw $yellow;
    clip-path: polygon(-10% 110%, 110% 110%, 110% -10%, -10% -10%, -10% 70%, 0 70%, 0 75%, -10% 75%, -10% 85%, 0 85%, 0 90%, -10% 90%, -10% 95%, 0 95%, 0 100%, -10% 100%);
  }

  &:last-child:before {
    transform: scale(-1, 1) rotate(45deg);
  }

  &:nth-child(2):before {
    transform: scale(-1, 1) rotate(-135deg);
  }

  &:first-child .tutorial__icon {
    width: vw($mobile, 35px);
    height: vw($mobile, 35px);
    margin: 0 auto 0.7vw;
    background-position: -1.867vw -34.833vw;
  }

  &:nth-child(2) .tutorial__icon {
    background-position: -1.867vw -43.033vw;
  }

  &:last-child .tutorial__icon {
    background-position: -1.667vw -51.233vw;
  }
}

.tutorial__icon {
  width: vw($mobile, 35px);
  height: vw($mobile, 35px);
  margin: 0 auto 0.7vw;
  background-size: 7.9vw;
}

.tutorial__title {
  margin-bottom: 0.933vw;
  font-size: vw($mobile, 20px);
  font-weight: 700;
  letter-spacing: -0.077vw;
}

.tutorial__subtitle {
  position: relative;
  margin-bottom: 4.5vw;
  font-size: vw($mobile, 16px);
  font-weight: 500;

  &:after {
    content: '';
    position: relative;
    top: 0.5vw;
    display: block;
    width: 13.4vw;
    height: 1px;
    margin: 0 auto;
    background-color: $white;
  }
}

.tutorial__text {
  width: 83.133vw;
  margin-bottom: 4.7vw;
  font-size: 1.73333vw;
  line-height: 1.27;
  text-align: center;
  text-indent: 3vw;
}

// Tablet
@media screen and (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {

  .tutorial__wrapper {
    flex-direction: row-reverse;
    margin: 0 7vw;
    padding-top: 0.8vw;
  }

  .tutorial__inner {
    display: flex;
    flex-direction: column;
    flex-basis: 64%;
    align-self: baseline;
    margin: 0 4vw;
    padding-top: 9.6vw;
  }

  .tutorial__descr {
    position: relative;
    right: -2vw;
  }

  .tutorial__list {
    flex-direction: column-reverse;
    flex-basis: 23.9%;
    justify-content: space-between;
    height: 52.4vw;
    margin-bottom: 3.733vw;
  }

  .tutorial__item {

    &:before {
      top: 4.4vw;
      left: 2.8vw;
      width: 10.5vw;
      height: 10.5vw;
      border-radius: 0.1vw;
      box-shadow: 0 0 0 0.4vw $turquoise, 0 0 0 0.6vw $yellow;
    }
  }

  .tutorial__icon {
    position: relative;
    right: -2.1vw;
    top: 0.3vw;
  }

  .tutorial__title {
    margin-bottom: 1.633vw;
    letter-spacing: 0;
  }

  .tutorial__subtitle {
    margin-bottom: 7.5vw;
    font-size: 3.033vw;

    &:after {
      top: 0.9vw;
      right: -0.4vw;
      width: 19vw;
      height: 0.2vw;
      margin: 0 auto;
      background-color: $white;
    }
  }

  .tutorial__text {
    width: auto;
    font-size: 1.533vw;
    font-weight: 300;
  }
}

// Desktop
@media screen and (min-width: $tabletLandscape + 1px) {

  .tutorial__wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 840px;
    margin: 0 auto;
    padding-top: 27px;
  }

  .tutorial__inner {
    display: flex;
    flex-direction: column;
    flex-basis: 58%;
    padding-left: 42px;
  }

  .tutorial__list {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 285px;
    height: 425px;
    margin: 0;
    margin-top: 47px;
  }

  .tutorial__item {
    flex-basis: 127px;
    height: 127px;
    padding: 0;

    &:before {
      top: 4px;
      left: 0;
      width: 127px;
      height: 127px;
      border-radius: 0.1%;
      box-shadow: 0 0 0 8px $turquoise, 0 0 0 10px $yellow;
    }

    &:nth-child(2) {
      top: 63px;
      left: -50px;
      align-self: center;
    }

    & .tutorial__icon {
      width: 65px;
      height: 65px;
      margin: 0 auto 5px;
      background-size: 104px;
    }

    &:first-child .tutorial__icon {
      width: 65px;
      height: 65px;
      margin: 0 auto 5px;
      background-position: -23px -458px;
      background-size: 104px;
    }

    &:nth-child(2) .tutorial__icon {
      background-position: -23px -565px;
    }

    &:last-child .tutorial__icon {
      background-position: -21px -670px;
    }
  }

  .tutorial__descr {
    width: 100%;
    font-size: 17px;
  }

  .tutorial__title {
    width: 385px;
    margin-bottom: 54px;
    font-size: 42px;
    line-height: 1.26;
    text-align: left;
  }

  .tutorial__subtitle {
    margin-bottom: 31px;
    font-size: 22px;
    text-align: left;

    &:after {
      top: -6px;
      left: 38px;
      width: 160px;
      height: 1px;
    }
  }

  .tutorial__text {
    width: auto;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.27;
    text-align: justify;
    text-indent: 0;
  }
}
