.footer {
  font-weight: 300;
  background-color: $black;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10.3vw;
  text-align: center;
}

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__logo {
  width: 15vw;
  margin-bottom: 5.7vw;
}

.footer__text {
  margin: 0 10.5vw 13.2vw;
  font-size: vw($mobile, 31px);
  line-height: 1.33;
  letter-spacing: 0.16vw;
}

.footer__heading {
  margin-bottom: 7.6vw;
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 0.17vw;
}

.footer__nav {
  display: none;
}

.footer__caption {
  margin-bottom: 4.6vw;
  font-size: 3.5vw;
  font-weight: 500;
  text-align: left;
}

.footer__list {
  font-size: 3.3vw;
  text-align: left;
  list-style-type: none;
}

.footer-nav__item {
  margin-bottom: -0.28vw;
}

.footer-nav__link {
  letter-spacing: -0.1vw;
  color: $white;
}

.socials {
  position: relative;
  left: -1.8vw;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 56.5vw;
  margin-bottom: 9.1vw;
  list-style-type: none;
}

.socials__link {
  display: block;
  width: vw($mobile, 45px);
  height: vw($mobile, 45px);
  padding-top: 3.35vw;
  background-image: url('#{$imgPath}/social-sprite.png');
  background-position: 0.92vw -1.95vw;
  background-size: 23.5vw;
  border-radius: 50%;
  border: 2px solid $white;

  &[data-social='pinterest'] {
    background-position: -12.5vw -15.333vw;
  }

  &[data-social='linkedin'] {
    background-position: -18.967vw -8.733vw;
  }

  &[data-social='facebook'] {
    background-position: -5.48vw -2.033vw;
  }
}

.footer__subheading {
  position: relative;
  left: -0.6vw;
  margin-bottom: 6.9vw;
  font-size: vw($mobile, 31px);
  letter-spacing: 0.05vw;
  font-weight: 300;
}

.footer__subscribe {
  position: relative;
  display: flex;
  width: 66vw;
  margin-bottom: 26.4vw;

  &:after {
    content: '';
    position: absolute;
    bottom: -1.5vw;
    width: 100%;
    height: 2px;
    background: $white;
  }
}

.subscribe__input {
  flex: 1 0;
  padding-left: 8.1vw;
  font-size: vw($mobile, 31px);
  text-align: center;
  color: #ede3d3;
  border: 0;
  opacity: 0.5;

  &:focus {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}

.subscribe__button {
  flex: 0 0 6.4vw;
  padding: 0;
  background-position: -15.167vw -726.433vw;
  background-size: 38vw;
}

.footer__copyright {
  font-size: vw($mobile, 28px);
}

// Tablet
@media screen and (min-width: $tabletPortrait) {

  .footer__text {
    margin-bottom: 10.73vw;
  }

  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5.1vw;
    padding: 0 8.7vw;
  }

  .socials {
    margin-bottom: 9.5vw;
  }

  .footer__subheading {
    margin-bottom: 7.15vw;
  }

  .footer__subscribe {
    margin-bottom: 23.8vw;
  }
}

// Desktop
@media screen and (min-width: $tabletLandscape + 1px) {

  .footer__wrapper {
    align-items: flex-start;
    flex-flow: row wrap;
    width: $contentMaxWidth;
    margin: 0 auto;
    padding: 61px 0 20px;
  }

  .footer__col {
    width: 33.333%;

    &:nth-child(1) {
      width: 37%;
      padding-right: 80px;
    }

    &:nth-child(2) {
      width: 34.2%;
      padding-top: 61px;
    }

    &:nth-child(3) {
      width: 28.8%;
      padding: 61px 0 0 30px;
    }
  }

  .footer__logo {
    width: 70px;
    margin-bottom: 35px;
  }

  .footer__text {
    margin: 0 20px;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 0.01em;
  }

  .footer__heading {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.01em;
  }

  .footer__caption {
    margin-bottom: 16px;
    font-size: 14px;
  }

  .footer__nav {
    padding: 0 15px;
  }

  .footer__list {
    font-size: 12px;
  }

  .footer-nav__item {
    margin-bottom: -2px;
  }

  .footer-nav__link {
    letter-spacing: 0.01em;

    &:hover {
      text-decoration: underline;
    }
  }

  .socials {
    left: 0;
    width: 150px;
    margin-bottom: 24px;
  }

  .socials__link {
    width: 16px;
    height: 16px;
    padding-top: 10px;
    background-position: 2px -5px;
    background-size: 62px;
    border: 1px solid $white;

    &[data-social='pinterest'] {
      background-position: -33px -40px;
    }

    &[data-social='linkedin'] {
      background-position: -50px -23px;
    }

    &[data-social='facebook'] {
      background-position: -15px -6px;
    }
  }

  .footer__subheading {
    left: 0;
    margin-bottom: 16px;
    font-size: 12px;
    letter-spacing: 0.01em;
  }

  .footer__subscribe {
    width: 188px;
    margin-bottom: 0;

    &:after {
      bottom: -3px;
    }
  }

  .subscribe__input {
    padding-left: 30px;
    font-size: 12px;
  }

  .subscribe__button {
    flex: 0 0 22px;
    background-size: 104px;
    background-position: -39px -1986px;
  }

  .footer__copyright {
    flex-basis: 100%;
    margin-top: 74px;
    font-size: 14px;
  }
}
