* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  font-family: $lato;
  font-size: 16px;
  color: $white;
}

a {
  color: $turquoise;
  text-decoration: none;
}

input {
  background: none;
}

button {
  background: none;
  border: 0;
}

.section-title {
  position: relative;
  font-size: 6.167vw;
  font-weight: 300;
  letter-spacing: 0.5vw;
  text-align: center;
  color: $turquoise;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: $turquoise;
    border-radius: 1.33333vw;
  }

  &:after {
    bottom: -1vw;
    left: 0.7vw;
    width: vw($mobile, 58px);
    height: vw($mobile, 4px);
  }

  &:before {
    bottom: -1vw;
    left: 8.8vw;
    width: vw($mobile, 10px);
    height: vw($mobile, 4px);
  }
}

.icon {
  background-image: url('#{$imgPath}/ask_it_sprite.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.body_fixed {
  height: 100vh;
  overflow-y: hidden;
}

// Tablet
@media screen and (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {

  .section-title {
    font-size: 3.467vw;

    &:after {
      bottom: -0.6vw;
      left: 0.3vw;
      width: 4.233vw;
      height: 0.333vw;
    }

    &:before {
      bottom: -0.6vw;
      left: 4.9vw;
      width: 0.733vw;
      height: 0.333vw;
    }
  }
}

// Desktop
@media screen and (min-width: $tabletLandscape + 1px) {

  .section-title {
    font-size: 68px;

    &:after {
      bottom: -5px;
      left: 4px;
      width: 60px;
      height: 3px;
    }

    &:before {
      bottom: -5px;
      left: 70px;
      width: 12px;
      height: 3px;
    }
  }
}
